@{
    ViewData["Title"] = "Get to Know Joel";
}

<div>
    <h2>Hello friends</h2><br />

    <p> Below you will find links to different websites that will help you get to know joel more</p><br />
</div>

<div>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a><br />
    <a href="https://baconsale.com/">Baconsale</a><br />
    <a href="https://baconsale.com/"><img src="~/img/baconsalekate.jpg" alt="Baconsale" class="img-fluid" style="max-height: 250px;" />
    </a>
    <br />
</div>