@model EnterMovie // This is what allows the asp-for to work with the EnterMovie.cs file
<!-- you can see that each column in the database has its own asp-for -->

<div>
    <h1>Add Movie to Collection</h1>
</div>

<form method="post">

    <div>
        <input type="hidden" asp-for="MovieId" />
    </div>

    <div class="form-group">
        <label asp-for="CategoryId">Category:</label>
        <select asp-for="CategoryId" class="form-control" required>
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select>
        <br />
    </div>

    <div class="form-group">
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" class="form-control" required />
        <br />
    </div>

    <div class="form-group">
        <label asp-for="Year">Year:</label>
        <input asp-for="Year" class="form-control" type="number" required />
        <br />
    </div>

    <div class="form-group">
        <label asp-for="Director">Director:</label>
        <input asp-for="Director" class="form-control" required />
        <br />
    </div>

    <div class="form-group">
        <label asp-for="Rating">Rating:</label>
        <select asp-for="Rating" class="form-control" required>
            <option value="">Select a rating</option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
            <option value="NR">NR</option>
            <option value="TV-14">TV-14</option>
            <option value="TV-G">TV-G</option>
            <option value="TV-Y7">TV-Y7</option>
            <option value="UR">UR</option>
        </select>
        <br />
    </div>

    <div class="form-group">
        <label asp-for="Edited">Edited:</label>
        <select asp-for="Edited" class="form-control">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        <br />
    </div>

    <div class="form-group">
        <label asp-for="LentTo">Lent To:</label>
        <input asp-for="LentTo" class="form-control" />
        <br />
    </div>

    <div class="form-group">
        <label asp-for="CopiedToPlex">Copied to Plex:</label>
        <select asp-for="CopiedToPlex" class="form-control" required>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        <br />
    </div>

    <div class="form-group">
        <label asp-for="Notes">Notes:</label>
        <input asp-for="Notes" class="form-control" maxlength="25" />
        <br />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    <div asp-validation-summary="All"></div>

</form>